@using SuperNoughtsAndCrosses.models
@model SuperNoughtsAndCrosses.models.SuperGameBoard;

<div class="super-board">
    @for (var row = 0; row < Model.GetSize(); row++)
    {
        <div class="board-row board-row-@(row)">
            @for (var col = 0; col < Model.GetSize(); col++)
            {
                <div class="@GetClassName(row, col)" row="@row" col="@col">
                        @if (Model.GameOverOnBoard(row, col))
                        {
                            <div class="board-win">@Model.GetSymbolForWinnerOnBoard(row, col)</div>
                        }
                        else
                        {
                            Html.RenderPartial("Board", Model.GetBoardAtPosition(row, col));
                        }  
                </div>
            }
        </div>
    }
</div>

@{
    if (Model.IsGameOver())
    {
        if (Model.GetWinner() == Player.NONE)
        {
            <div class="game-over">Game Over. No one wins.</div>
        }
        else
        {
            <div class="game-over">Game Over. @Model.GetWinner() has won.</div>
        }
    }
}

@{

    string GetClassName(int row, int col)
    {
        var isValidBoard = !Model.GameOverOnBoard(row, col) && (Model.IsNextBoard(row, col) || Model.GameOverOnNextBoard());
        var chosenBoard = isValidBoard ? "board-chosen" : "";
        return $"board board-{col} {chosenBoard}";
    }
}